# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Dependency directories
jspm_packages/
bower_components/

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/
.history/

# Build directories
dist/
out/
build/

# Environment variables
.env
.env.local
.env.*.local

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
